<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<p>
  <strong>Appointments:</strong><br/>
  <% @patient.appointments.each do |appointment|  %>
      <%= appointment.specialist.name %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= appointment.appointment_date %><br />
  <% end  %>
</p>



<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
