<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>
  <strong>Appointments</strong><br/>
  <% @specialist.appointments.each do |appointment| %>
      <% if appointment.appointment_date >= Time.now %>
          <%= appointment.appointment_date %>&nbsp;&nbsp;<b>Days till appointment:</b>&nbsp;&nbsp;<%= (appointment.appointment_date - DateTime.now.to_date).to_i %><br/>
      <% end %>

  <% end %>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
